.column
  padding 0
  border 1px white solid
  min-height 300px
  background darkslategrey

  &-header
    padding 1px 0

  &-list
    margin 0

  &-footer
    padding-top 20px

  &-item
    padding 0