<div>
    <h3>
        <app-live-edit value="column.title"
                      save="saveColumn" ></app-live-edit>
    </h3>
    <ul class="list-group"
        data-drop="false"
        jqyoui-droppable="{}">
        <li class="list-group-item" ng-repeat="taskId in column.tasks">
            <app-kanban-task task="taskId" column="column"></app-kanban-task>
        </li>
    </ul>

    <button type="button"
            class="btn btn-default btn-xs"
            ng-click="remove()">Remove</button>
    <button type="button"
            class="btn btn-default btn-xs"
            ng-click="createTask()">Add task</button>
</div>