<div class="column"
     ng-class="{column_drug: drug}"
     data-drag="true"
     jqyoui-draggable="{
        index: 10,
        animate:true,
        scope: 'column',
        onStart: 'startDrugColumn(column)',
        onStop: 'endDrugColumn()'
     }"
     data-jqyoui-options="{
        scope: 'column',
        revert: 'invalid',
        hoverClass: 'column_hover',
        appendTo: 'body',
        helper: 'clone',
        cursorAt: {
            left: 5,
            top: 5
        },
        tolerance: 'pointer'
     }"

     data-drop="true"
     jqyoui-droppable="{
            index: 10,
            onDrop:'dropColumn()'
         }">

    <div class="column-header"
         data-drop="true"
         data-jqyoui-options="{
            scope: 'task',
            hoverClass: 'column-header_hover'
         }"
         jqyoui-droppable="{
            index: 1,
            onDrop:'dropTask(0)',
            scope: 'task'
         }">
        <h3>
            <app-live-edit value="column.title" save="saveColumn" ></app-live-edit>
        </h3>
    </div>
    <div class="column-list-wrapper">
        <ul class="list-group column-list">
            <li class="list-group-item column-item" ng-repeat="taskId in column.tasks">
                <app-kanban-task task="taskId" column="column" index="$index"></app-kanban-task>
            </li>
        </ul>
        <div class="column-add"
             data-drop="true"
             data-jqyoui-options="{
                scope: 'task',
                hoverClass: 'column-add_hover'
             }"
             jqyoui-droppable="{
                index: 1,
                onDrop:'dropTask()',
                scope: 'task'
             }">
        </div>
    </div>



    <div class="column-footer">
        <button type="button"
                class="btn btn-default btn-xs"
                ng-click="remove()">Remove</button>
        <button type="button"
                class="btn btn-default btn-xs"
                ng-click="createTask()">Add task</button>
    </div>
</div>