.task
  border-top none

  &_drug
    opacity 0.4

  &-drop
    border-bottom 1px darkslategrey solid
    transition border 0.3s

    &_hover
      border-bottom 10px silver solid

    body > &
      width 200px
      border 1px black solid
      border-radius 4px
      padding 3px
      opacity 0.9
      transform rotate(15deg)

      input
        background none
        color white

  &-title
    margin-top 0
    padding-top 10px

  &-input
    width 100%

  &-button
    color black